#header {
    color: #fff;
    min-height: 100px;
    padding: 50px 20px;
    padding-bottom: 50px;
    text-align: center;
    background-image: url("https://2.bp.blogspot.com/-ZdwEvpKCnZk/WykMWmJEjNI/AAAAAAAgVNE/ujmtDGxacBQ1ZTn6PZVJL4iPHzkz2LAlgCLcBGAs/s1600/AW1237163_00.gif");
    background-color: #2c323c;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

h1 {
    background: linear-gradient(to right, #2b1de8, #0099ff, #1ddde8, #6666ff, #6666ff, #00ff00, #1de840, #ff2400, #e81d1d, #ff3399, #dd00f3, #dd00f3, #e8b71d, #e3e81d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 20s ease-in-out infinite;
    background-size: 400% 100%;
    font-size: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 2px;
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}